.edit_form {
    width: 100%;
}

.edit_button {
    width: 50%;
    margin-left: 25%;
    background-color: white;
    padding: 14px 20px;
    text-align: center;
    color: #00AA00;
    border: 2px solid #00AA00;
    border-radius: 6px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    overflow: hidden;
    cursor: pointer;
}

.edit_button:hover {
    border-color: #FF4500;
    color: #FF4500;
}

