# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\79321\Desktop\Проект СКБ-Лаб _Портал сотрудника компании_\skb-lab_employee_portal\employee_portal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
