{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анкета сотрудника</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_part.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/questionnaire.css' %}">
</head>
<body>
<header>
    {% include 'inc/_top_nav_bar.html' %}
</header>

<main class="grid_container">
    <div class="profile_photo">
        <img src="{% static 'profile.png' %}" alt="profile" class="photo_round">
        <div class="button_download">
            {{ form.photo }}
            <button disabled>Загрузить</button>
        </div>
    </div>

    <div class="profile_data">
        <h1>Анкета сотрудника</h1>
        {{ form.errors }}
        <form method="post" enctype="multipart/form-data" id="employee">
            {% csrf_token %}
            <div class="container">

                <div class="form_fname">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>

                <div class="form_sname">
                    {{ form.second_name.label_tag }}
                    {{ form.second_name }}
                </div>

                <div class="form_patronymic">
                    {{ form.patronymic.label_tag }} <span>(если есть)</span>
                    {{ form.patronymic }}
                </div>

                <div class="form_email">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div class="form_number">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>

                <div class="form_department">
                    {{ form.department.label_tag }}
                    {{ form.department }}
                </div>

                <div class="form_position">
                    {{ form.position.label_tag }}
                    {{ form.position }}
                </div>

                <div class="form_newemp">
                    {{ form.is_new_employee.label_tag }}
                    {{ form.is_new_employee }}
                </div>

                <div class="form_description">
                    {{ form.description.label_tag }} <span>(необязательно)</span>
                    <p>Владение языками, личные качества, навыки, достижения</p>
                    {{ form.description }}
                </div>

                <button type="submit" class="button_save">Сохранить</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
