{% extends 'base.html' %}

{% load static %}

{% block title %}
    Профиль
{% endblock %}

{% block load_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/side_bar_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_style.css' %}">
{% endblock %}

{% block right_content %}
    <div class="employee_info">
        <div class="left_info">
            <img src="{{ employee.photo.url }}" alt="photo">
            <form class="edit" action="{% url 'employee_information_site:profile_edit' %}">
                <button type="submit" class="edit_button">Редактировать</button>
            </form>
        </div>
        <div class="right_info">
            <div>
                <h1>{{ employee.first_name }} {{ employee.second_name }} {{ employee.patronymic }}</h1>
            </div>

            <div class="main_info">
                <div class="main_info_title">
                    <h2>Основная информация</h2>
                </div>
                <div class="department">
                    <h3>Отдел</h3>
                    <p>{{ employee.department }}</p>
                </div>

                <div class="position">
                    <h3>Должность</h3>
                    <p>{{ employee.position }}</p>
                </div>
            </div>

            <div class="contacts">
                <div class="contacts_title">
                    <h2>Контакты</h2>
                </div>
                <div class="email">
                    <h3>Email</h3>
                    <p>{{ employee.email }}</p>
                </div>

                <div class="phone_number">
                    <h3>Телефон</h3>
                    <p>{{ employee.phone_number }}</p>
                </div>
            </div>

            {% if employee.description %}
                <div class>
                    <h2>Дополнительно</h2>

                    <div class="description_info">
                        <h3>О себе </h3>
                        <p>{{ employee.description }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}