.grid_container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    column-gap: 5%;
}

.image {
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: auto;
    margin-top: 10%;
    margin-left: 10%;
}

button {
    background-color: #28A228;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #00AA00;
    cursor: pointer;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    border-radius: 6px;
}

a.orange {
    color: #FF4500;
    font-weight: 600;
    text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}

label{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.link {
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #000000;
}