h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}


.edited_sender_settings {
    margin-left: 5%;
    margin-top: 3.5%;
}

form {
    margin-top: 5%;
}

.setting_parameter {
    display: block;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #CFCFCF;
    border-radius: 6px;
    width: 60%;
    padding: 15px 20px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 22px;
}

.setting_parameter:hover {
    border-color: #00AA00;
}

label {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

button {
    cursor: pointer;
    background-color: #00AA00;
    border: 2px solid #00AA00;
    border-radius: 6px;
    width: 27%;
    height: 63px;
    color: white;
    font-size: 22px;
    float: left;
    overflow: hidden;
}
