body{
    font-family: "Proxima Nova";
    font-style: normal;
    margin: 0;
}
.grid_container {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
}
.nav {
    list-style: none;
}
.nav_button {
    display: inline-block;
    margin-right: 30px;
    margin-left: auto;
    margin-right: 0em;
    float: right;
    font-size: 20px;
}

.left_menu {
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    font-size: 26px;
    border-collapse:collapse;
    border-spacing: 15px;
    border-color: black;
}

.settings {
    padding: 0;
    font-size: 26px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100%;
    margin-bottom: 4%;
}

.nav-item {
    display: inline-block;
    margin-right: 50px;
}


a{
    text-decoration: none;
    color: black;
}
.button{
    background: #00AA00;
    border-radius: 6px;
    border-color: grey;
    width: 369px;
    height: 63px;
    color:white;
    font-size: 22px;
}

h1 {
    font-size: 50px;
}
.gray{
    height: 90%;
    background: #F5F5F5;
}
.margin{
    margin-left: 5%;
    height: 90%;
}
h4{
    font-size: 90%;
}

table {
    border-collapse: separate; /* Способ отображения границы */
    width: 100%; /* Ширина таблицы */
    border-spacing: 11px 13px; /* Расстояние между ячейками */
   }
td {
    padding: 10px; /* Поля вокруг текста */
   }
.right_side{
    padding-bottom: 30px;
    width: 45%;
    height: 60%;
    display: block;

    background: #FFFFFF;
    border: 2px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 6px;
}

.text_bot{
    width: 80%;
    height: 63px;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-size: 100px;
   }

