{% extends 'base.html' %}

{% load static %}

{% block title %}
    Настройка чат-ботов
{% endblock %}

{% block load_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/side_bar_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/chat_bots_setting_page_moe.css' %}">
{% endblock %}

{% block right_content %}
    <div>
        <h1>Настройка чат-ботов</h1>
        <div class="container">
            {% if object_list %}
                {% for chatBot in object_list %}
                    {% if chatBot.botType.messenger_type == "telegram" %}
                        <p>
                            <a href="{% url 'chatBots:updateChatBot' %}?id={{ chatBot.id }}"> <img
                                    src="/../../media/chat_bot/new_tg.png">{{ chatBot.name }}</a>
                        </p>
                    {% elif chatBot.botType.messenger_type == "slack" %}
                        <p>
                            <a href="{% url 'chatBots:updateChatBot' %}?id={{ chatBot.id }}"> <img
                                    src="/../../media/chat_bot/new_vk.png">{{ chatBot.name }}</a>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p><a href="{% url 'chatBots:addChatBots' %}"> <img src="/../../media/chat_bot/new_plus.png">Добавить
                чат-бота</a></p>
        </div>

    </div>

{% endblock %}
