{% extends 'base.html' %}
{% load static %}

{% block title %}
    Настройки отправки уведомлений
{% endblock %}

{% block load_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/sender_setting_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/side_bar_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_style.css' %}">
{% endblock %}

{% block right_content %}
    <div class="right_content">
        <h1>
            Настройки отправки уведомлений
        </h1>

        <div class="sender_settings">
            <div class="setting_parameter">
                <label>Бот для уведомлений о новом сотруднике:</label>
                <span>{{ sender.newEmployeeChatBot }}</span>
            </div>

            <div class="setting_parameter">
                <label>Id канала для уведомлений о новом сотруднике:</label>
                <span>{{ sender.newEmployeeChannelId }}</span>
            </div>

            <div class="setting_parameter">
                <label>Бот для запроса доступа к сервисам:</label>
                <span>{{ sender.accessRequestChatBot }}</span>
            </div>

            <div class="setting_parameter">
                <label>Id канала для запроса доступа к сервисам:</label>
                <span>{{ sender.accessRequestChannelId }}</span>
            </div>

            <div class="setting_parameter">
                <label>Время отправки:</label>
                <span>{{ sender.sendTime }}</span>
            </div>

            <form action="{% url 'chatBots:updateSender' %}">
                <button type="submit"> Редактировать</button>
            </form>
        </div>
    </div>
{% endblock %}