.login_form {
    width: 50%;
    grid-column: 1/2;
    grid-row: auto;
    justify-self: center;
    margin: 20%;
}

.login, .password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
