<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <a href="{% url 'vacation_schedule:addVacation' %}">Добавить период отпуска</a>
</header>
<h1>Список периодов</h1>
<ul>
    {% for vacation in vacation_periods %}
        <li>
            <p>
                <a href="{% url 'vacation_schedule:updateVacation' vacation.id %}">{{ vacation }}</a>
            </p>
            <p>{{ vacation.startDateVacation }}</p>
            <p>{{ vacation.endDateVacation }}</p>
            <p>Дней отпуска: {{ vacation.vacationDays }}</p>
            <form method="post" action="{% url 'vacation_schedule:deleteVacation' vacation.id %}">
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
        </li>
    {% endfor %}
</ul>
<p>Осталось дней: {{ days_remainder.remainder }}</p>
</body>
</html>